<?xml version="1.0" encoding="utf-8"?>
<Content Key="49324909-ecdc-4704-ac22-af59c249e778" Alias="Blog" Level="2">
  <Info>
    <Parent Key="4ce87a31-6300-453f-a818-4b27f5a8db12">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogList</ContentType>
    <CreateDate>2022-06-30T22:32:33</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="93c40121-b6e6-4170-a51d-48ed3e774b54">BlogList</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>