<?xml version="1.0" encoding="utf-8"?>
<Content Key="d66675fe-a1f0-4127-9a83-2dade3d4c607" Alias="CV" Level="2">
  <Info>
    <Parent Key="4ce87a31-6300-453f-a818-4b27f5a8db12">Home</Parent>
    <Path>/Home/CV</Path>
    <Trashed>false</Trashed>
    <ContentType>cV</ContentType>
    <CreateDate>2021-04-30T07:50:45</CreateDate>
    <NodeName Default="CV" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2823facf-c328-4ea5-82b2-cea637fc8295">CV</Template>
  </Info>
  <Properties>
    <contactInfo>
      <Value><![CDATA[[
  {
    "key": "5b0c2001-dd4e-4ba1-bf96-a4e54d2c320a",
    "name": "10/10/1990",
    "ncContentTypeAlias": "iconTextItem",
    "PropType": null,
    "icon": [
      "Android Calendar"
    ],
    "text": "10/10/1990"
  },
  {
    "key": "94b60584-277f-4927-8a8d-b51c5ac19b28",
    "name": "Jane Doe",
    "ncContentTypeAlias": "iconTextItem",
    "PropType": null,
    "icon": [
      "Person"
    ],
    "text": "Jane Doe"
  },
  {
    "key": "8649ec27-6993-49de-946c-e72049165434",
    "name": "+235 3217 424",
    "ncContentTypeAlias": "iconTextItem",
    "PropType": null,
    "icon": [
      "Ios Telephone"
    ],
    "text": "+235 3217 424"
  },
  {
    "key": "e3bd48c4-bc01-4fa2-b3ca-ae0132c0c1ee",
    "name": "mailto:lorem@email.com",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": [
      "Email"
    ],
    "link": [
      {
        "name": "mailto:lorem@email.com",
        "url": "mailto:lorem@email.com"
      }
    ]
  }
]]]></Value>
    </contactInfo>
    <contactInfoTitle>
      <Value><![CDATA[Contact Info]]></Value>
    </contactInfoTitle>
    <educationHistory>
      <Value><![CDATA[[
  {
    "key": "4027fd6d-b0c6-4927-9814-818547cc73ef",
    "name": "High School - Albert Einstein School",
    "ncContentTypeAlias": "historyItem",
    "PropType": null,
    "title": "High School",
    "placeName": "Albert Einstein School",
    "details": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>",
    "startDate": "2005-09-01T00:00:00",
    "endDate": "2010-05-01T00:00:00"
  },
  {
    "key": "2a3ea517-f605-4d56-add8-4a4a013f735e",
    "name": "Applied Physics - Stephen Hawking College",
    "ncContentTypeAlias": "historyItem",
    "PropType": null,
    "title": "Applied Physics",
    "placeName": "Stephen Hawking College",
    "details": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>",
    "startDate": "2010-09-01T00:00:00",
    "endDate": "2015-06-01T00:00:00"
  }
]]]></Value>
    </educationHistory>
    <educationHistoryTitle>
      <Value><![CDATA[Education]]></Value>
    </educationHistoryTitle>
    <hobbies>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus ligula, iaculis ut metus sit amet, luctus pharetra mauris. Aliquam purus felis, pretium vel pretium vitae, dapibus sodales ante. Suspendisse potenti. Duis nunc eros.</p>]]></Value>
    </hobbies>
    <hobbiesTitle>
      <Value><![CDATA[Hobbies]]></Value>
    </hobbiesTitle>
    <skills>
      <Value><![CDATA[[
  {
    "key": "cc9918eb-e682-48b8-a540-119f212273cc",
    "name": "HTML - 100%",
    "ncContentTypeAlias": "skillItem",
    "PropType": null,
    "skill": "HTML",
    "rating": "100"
  },
  {
    "key": "d9e5eb38-200c-426e-8cfe-081a081a04ab",
    "name": "PHP - 90%",
    "ncContentTypeAlias": "skillItem",
    "PropType": null,
    "skill": "PHP",
    "rating": "90"
  },
  {
    "key": "50ce6a07-8ba6-478c-a71f-228bd27ec094",
    "name": "JavaScript - 80%",
    "ncContentTypeAlias": "skillItem",
    "PropType": null,
    "skill": "JavaScript",
    "rating": "80"
  }
]]]></Value>
    </skills>
    <skillsTitle>
      <Value><![CDATA[Skills]]></Value>
    </skillsTitle>
    <workHistory>
      <Value><![CDATA[[
  {
    "key": "df94bd20-cc60-48ec-8ffb-2beb3d34f8ab",
    "name": "Front End Developer - Innovative Org.",
    "ncContentTypeAlias": "historyItem",
    "PropType": null,
    "title": "Front End Developer",
    "placeName": "Innovative Org.",
    "details": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>",
    "startDate": "2015-05-01T00:00:00",
    "endDate": "2017-12-01T00:00:00"
  },
  {
    "key": "231d4cb2-fa7b-4bf4-9f61-a3972ffbce73",
    "name": "Web Developer - Special Inc.",
    "ncContentTypeAlias": "historyItem",
    "PropType": null,
    "title": "Web Developer",
    "placeName": "Special Inc.",
    "details": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>",
    "startDate": "2017-12-01T00:00:00",
    "endDate": ""
  }
]]]></Value>
    </workHistory>
    <workHistoryTitle>
      <Value><![CDATA[Work History]]></Value>
    </workHistoryTitle>
  </Properties>
</Content>