<?xml version="1.0" encoding="utf-8"?>
<Content Key="45802900-ffac-497e-a022-6a5bef09ffab" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-04-29T23:30:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="da0613c2-6860-4f11-bd0b-d8069a143c76">Home</Template>
  </Info>
  <Properties>
    <aboutMe>
      <Value><![CDATA[<p>Hello! I am<span> </span><strong>Jane Doe</strong>. I work as interface and front end developer. I have passion for pixel perfect, minimal and easy to use interfaces.</p>]]></Value>
    </aboutMe>
    <avatar>
      <Value><![CDATA[umb://media/389a4e0d2f8b469e9da484841403d763]]></Value>
    </avatar>
    <footerContentLinks>
      <Value><![CDATA[[{"name":"About me","udi":"umb://document/d66675fea1f041279a832dade3d4c607"},{"name":"Contact","udi":"umb://document/df0e56c12d5c4854bd99049123433b4b"},{"name":"Projects","udi":"umb://document/fd313082381444d49a36cc0b6106d4d8"}]]]></Value>
    </footerContentLinks>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "key": "0a592718-dc86-4bfe-94e1-93dafe7a5daf",
    "name": "Facebook",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": "ion-social-facebook",
    "link": [
      {
        "name": "Facebook",
        "target": "_blank",
        "url": "https://facebook.com"
      }
    ]
  },
  {
    "key": "deff3e00-ece0-4739-b689-7d9f76054e56",
    "name": "Instagram",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": "ion-social-instagram-outline",
    "link": [
      {
        "name": "Instagram",
        "target": "_blank",
        "url": "https://instagram.com"
      }
    ]
  },
  {
    "key": "92d75100-4933-43f5-95d9-b4ef645d6cd2",
    "name": "Twitter",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": "ion-social-twitter",
    "link": [
      {
        "name": "Twitter",
        "target": "_blank",
        "url": "https://twitter.com"
      }
    ]
  }
]]]></Value>
    </footerSocialLinks>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/497eb504954f4895b1fc22649568904c",
        "settingsUdi": "umb://element/41803181b860427e84cc9404768907ea"
      },
      {
        "contentUdi": "umb://element/e8d0de67d7dc4eeea1704bc67efe495d",
        "settingsUdi": "umb://element/181ce62c7eea4cc39f58ab5b681c9a13"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8728e9e8-749f-4719-a3f3-6ed780b42141",
      "udi": "umb://element/497eb504954f4895b1fc22649568904c",
      "text": "Like what you see?",
      "link": [
        {
          "name": "Hire me",
          "udi": "umb://document/df0e56c12d5c4854bd99049123433b4b"
        }
      ]
    },
    {
      "contentTypeKey": "0ff0a31a-3727-4cba-b45b-4ba8519499bd",
      "udi": "umb://element/e8d0de67d7dc4eeea1704bc67efe495d",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d5c1e85c651a47d58528bc3631e0deb2",
              "settingsUdi": "umb://element/d10b77aa554643f4bebbb7c29b08b091"
            },
            {
              "contentUdi": "umb://element/afa21d1d976d4694998233c515a42809",
              "settingsUdi": "umb://element/cdb7afd332594611a08cebd09ffef5e0"
            },
            {
              "contentUdi": "umb://element/10f845ee9633487198f14c3ce487938d",
              "settingsUdi": "umb://element/1f629d96492a4673babca8b488454c3f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3f6a6761-efa8-426e-9b4b-344c596f8aae",
            "udi": "umb://element/d5c1e85c651a47d58528bc3631e0deb2",
            "iconClass": "ion-ios-star-outline",
            "title": "Web Design",
            "description": "Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus."
          },
          {
            "contentTypeKey": "3f6a6761-efa8-426e-9b4b-344c596f8aae",
            "udi": "umb://element/afa21d1d976d4694998233c515a42809",
            "iconClass": "ion-ios-lightbulb-outline",
            "title": "Interface Design",
            "description": "Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus."
          },
          {
            "contentTypeKey": "3f6a6761-efa8-426e-9b4b-344c596f8aae",
            "udi": "umb://element/10f845ee9633487198f14c3ce487938d",
            "iconClass": "ion-ios-gear-outline",
            "title": "Photography and Print",
            "description": "Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus."
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "0c9bd42b-0bd4-4b98-a899-95d27494e348",
            "udi": "umb://element/d10b77aa554643f4bebbb7c29b08b091",
            "itemName": "",
            "hide": ""
          },
          {
            "contentTypeKey": "0c9bd42b-0bd4-4b98-a899-95d27494e348",
            "udi": "umb://element/cdb7afd332594611a08cebd09ffef5e0",
            "itemName": "",
            "hide": ""
          },
          {
            "contentTypeKey": "0c9bd42b-0bd4-4b98-a899-95d27494e348",
            "udi": "umb://element/1f629d96492a4673babca8b488454c3f",
            "itemName": "",
            "hide": ""
          }
        ]
      },
      "title": "Special Skills"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e1d2ae73-a9e2-42f5-85ac-c2a1d4c27c3d",
      "udi": "umb://element/41803181b860427e84cc9404768907ea",
      "itemName": "",
      "hide": "0"
    },
    {
      "contentTypeKey": "e2ec53a3-602d-4134-a56e-7ff7fe92a587",
      "udi": "umb://element/181ce62c7eea4cc39f58ab5b681c9a13",
      "itemName": "",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <profileLink>
      <Value><![CDATA[[{"name":"Hire me","udi":"umb://document/df0e56c12d5c4854bd99049123433b4b"}]]]></Value>
    </profileLink>
  </Properties>
</Content>