<?xml version="1.0" encoding="utf-8"?>
<Content Key="efe99110-bc47-492c-b6d8-f021647d3ce1" Alias="Project 1" Level="3">
  <Info>
    <Parent Key="fd313082-3814-44d4-9a36-cc0b6106d4d8">Projects</Parent>
    <Path>/Home/Projects/Project1</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2021-04-30T07:51:20</CreateDate>
    <NodeName Default="Project 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4203639-ce9c-448b-93c6-ad498f5794ba">Project</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum, nisi eu interdum accumsan, ipsum dolor iaculis lorem, ut tempus augue nulla ac mi. Nulla sem massa, porttitor a felis sed, euismod lacinia sapien. Morbi nec congue dolor, eget egestas purus. Nam purus libero, semper pretium maximus eget, tincidunt sed felis. Integer aliquet elit dolor, nec sagittis lorem imperdiet sed. Ut bibendum enim sapien, nec maximus est aliquam quis. Pellentesque condimentum mauris vitae pulvinar interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh sagittis, placerat tortor id, finibus orci. Duis porta orci est, ac tristique tellus semper quis. Etiam pretium vitae dolor vitae dignissim. Quisque facilisis metus at eros bibendum congue. Nunc arcu magna, blandit ut felis vel, consequat maximus dolor. Vivamus malesuada aliquam tristique.</p>
<p>Mauris ultrices diam non consectetur dignissim. Donec eu orci nec nunc molestie commodo. Maecenas dolor lorem, convallis accumsan dapibus a, sodales ac erat. Pellentesque fermentum neque risus, a pharetra ligula consectetur et. Curabitur sed felis a erat mattis scelerisque. Morbi tempus ligula in elit pellentesque, a ullamcorper urna bibendum. Vivamus convallis massa vitae nisl scelerisque, quis suscipit nibh faucibus. Quisque non vestibulum massa.</p>]]></Value>
    </description>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <mainImage>
      <Value><![CDATA[umb://media/89598e45bdaf49b9b2782b021b9dff64]]></Value>
    </mainImage>
    <projectDate>
      <Value><![CDATA[2021-05-05T00:00:00]]></Value>
    </projectDate>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>