<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea734ee4-8ae6-4165-9fc1-9c50bf4b4133" Alias="Project 3" Level="3">
  <Info>
    <Parent Key="fd313082-3814-44d4-9a36-cc0b6106d4d8">Projects</Parent>
    <Path>/Home/Projects/Project3</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2021-04-30T07:51:43</CreateDate>
    <NodeName Default="Project 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4203639-ce9c-448b-93c6-ad498f5794ba">Project</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <mainImage>
      <Value><![CDATA[umb://media/cf5236eb98b5442dae444d34584d01d3]]></Value>
    </mainImage>
    <projectDate>
      <Value><![CDATA[]]></Value>
    </projectDate>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>