/.vs/Portfolio
/Portfolio.Site/bin/Debug/net5.0
/Portfolio.Site/obj
/Portfolio.Site/umbraco
/Portfolio.Site/wwwroot/umbraco
/Portfolio.Core/obj
/Portfolio.Core/bin
*.user
/Portfolio.Models/bin/Debug/net5.0
/Portfolio.Models/obj
