@inherits UmbracoViewPage<HobbiesViewModel>
@using Portfolio.Core.Models.ViewModels

<div class="hobbies group">
    <div class="heading">
        <h2 class="text-center">@Model.HobbiesTitle</h2>
    </div>
    <p class="text-center text-muted">@Model.Hobbies</p>
</div>