<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e5ccd982-9b19-436f-b910-8ea4894c8651" Alias="blogList" Level="2">
  <Info>
    <Name>Blog List</Name>
    <Icon>icon-chat color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of blog posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8525c154-2e22-434e-a17c-5811ad2a3c3b">mainContentProperties</Composition>
      <Composition Key="c549ce18-4f91-4d45-b0cf-65ddc91f9b67">mainHeaderControls</Composition>
      <Composition Key="9bc37b23-7159-4798-92b4-c3b64bc4fb7d">mainImageSettings</Composition>
      <Composition Key="39847bc4-3a74-46b0-9b92-c40c3697011d">sEOControls</Composition>
      <Composition Key="5efae6b1-f68a-4882-961c-569ef0e9cb0c">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>BlogList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="93c40121-b6e6-4170-a51d-48ed3e774b54">BlogList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2edd3e70-d35a-430c-b9ef-7622cfbdd23f" SortOrder="0">blogArticle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>