<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e1a118d5-86b3-48f7-b3f3-6aa917eaf31b" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-message color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8525c154-2e22-434e-a17c-5811ad2a3c3b">mainContentProperties</Composition>
      <Composition Key="c549ce18-4f91-4d45-b0cf-65ddc91f9b67">mainHeaderControls</Composition>
      <Composition Key="5efae6b1-f68a-4882-961c-569ef0e9cb0c">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aa9f6cfd-62b3-4e57-944d-b7631e7c9313">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>