<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a8e2da86-7f61-4072-9bc2-c4bcdbe7575c" Alias="richTextSettings" Level="4">
  <Info>
    <Name>Rich Text Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Schemas/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="1b3cc3bc-64f2-4c40-a4ec-d8cdc8e507ca">blockVisibilitySettings</Composition>
      <Composition Key="10f92695-31f2-4787-9ee6-1231db4db65c">itemNameSettings</Composition>
    </Compositions>
    <DefaultTemplate>RichTextSettings</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4be885f9-aee4-4c95-a04a-da111d63026c">RichTextSettings</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>