@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using Portfolio.Core.Models.ViewModels 

@{
    Layout = "Master.cshtml";
}

<main class="page lanidng-page">
    @(await Component.InvokeAsync("AvatarHeader", new { profileControls = Model, borderBottom = false } ))
    @(await Component.InvokeAsync("LatestProjects", Model.Children<ContentModels.ProjectList>().FirstOrDefault()))
    @Html.GetBlockListHtml(Model.MainContent)
</main>