@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using Portfolio.Core.Models.ViewModels 

@{
    Layout = "Master.cshtml";
}

<main class="page lanidng-page">
    @(await Component.InvokeAsync("AvatarHeader", new { profileControls = Model, borderBottom = false } ))
    @(await Component.InvokeAsync("LatestProjects", Model.Children<ContentModels.ProjectList>().FirstOrDefault()))
    @Html.GetBlockListHtml(Model.MainContent)
</main>
<section class="portfolio-block website gradient">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-5 offset-lg-1 text">
                <h3>Website Project</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel, porttitor eros.</p>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="portfolio-laptop-mockup">
                    <div class="screen">
                        <div class="screen-content" style="background-image:url('/assets/img/tech/image6.png');"></div>
                    </div>
                    <div class="keyboard"></div>
                </div>
            </div>
        </div>
    </div>
</section>