<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="1">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Avatar",
      "width": 150,
      "height": 150
    },
    {
      "alias": "Page Header",
      "width": 1110,
      "height": 450
    },
    {
      "alias": "Project Preview Large",
      "width": 976,
      "height": 650
    },
    {
      "alias": "Project Preview Medium",
      "width": 663,
      "height": 442
    }
  ]
}]]></Config>
</DataType>