<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae18f54b-4a5f-4fdc-9edb-3bb782fade58" Alias="Image6" Level="2">
  <Info>
    <Parent Key="ff8e0120-37ff-4f9f-aa0c-3f9ced04aff6">Projects</Parent>
    <Path>/Projects/Image6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-05-03T07:42:16</CreateDate>
    <NodeName Default="Image6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jx0brls5/image6.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>