<?xml version="1.0" encoding="utf-8"?>
<Media Key="14a42afd-7b47-465b-8609-efa4187ba872" Alias="Image5" Level="2">
  <Info>
    <Parent Key="ff8e0120-37ff-4f9f-aa0c-3f9ced04aff6">Projects</Parent>
    <Path>/Projects/Image5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-05-03T07:42:16</CreateDate>
    <NodeName Default="Image5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5mvkifch/image5.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>