<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf5236eb-98b5-442d-ae44-4d34584d01d3" Alias="Image3" Level="2">
  <Info>
    <Parent Key="c9c8965d-a1a5-4972-b607-bb8ba0986322">People</Parent>
    <Path>/People/Image3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-13T23:54:59</CreateDate>
    <NodeName Default="Image3" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3u1fft3v/image3.jpg","crops":[{"alias":"Project Preview","width":545,"height":363},{"alias":"Page Header","width":1110,"height":450},{"alias":"Avatar","width":150,"height":150}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>