<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e55696d-c2af-47f8-98dd-bb9b8bc1ee20" Alias="Image2" Level="2">
  <Info>
    <Parent Key="a5a20a96-0896-40dd-b39c-11a2b112ee3f">Portfolio Starter Kit</Parent>
    <Path>/PortfolioStarterKit/Image2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-13T23:54:43</CreateDate>
    <NodeName Default="Image2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Project 2 Image]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nnufklvp/image2.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"Project Preview","width":545,"height":363,"coordinates":null},{"alias":"Page Header","width":1110,"height":450,"coordinates":null},{"alias":"Avatar","width":150,"height":150,"coordinates":null}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>