<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9c8965d-a1a5-4972-b607-bb8ba0986322" Alias="People" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/People</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-05-05T23:40:00</CreateDate>
    <NodeName Default="People" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>