@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@using Portfolio.Core.Models
@using System.Collections
@using Umbraco.Cms.Core.Models

@{
    var cardsRow = (CardsRow)Model.Content;
}

<section class="portfolio-block skills">
    <div class="container">
        <div class="heading">
            <h2>@cardsRow.Title</h2>
        </div>
        @if(cardsRow.Cards != null)
        {
            <div class="row">
                @foreach(var item in cardsRow.Cards)
                {
                    IconCard card = (IconCard)item.Content;
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-@(card.IconClass.ToLower().Replace(" ","-"))"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">@card.Title</h3>
                                <p class="card-text">@card.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>